<% @complex_buildings.each do |complex_building| %>
	<div class="col-3">
		<%= link_to(complex_building_thumbnail(complex_building), house_path(complex_building)) %>
		<h3 class="h5 mt-3">Owner: <%= complex_building.owner %></h3>
		<h6>Address: <%= complex_building.address %><h6>
		<h6>Unit: <%= complex_building.units %></h6>
		<h6>Sqmt: <%= complex_building.sqmt %></h6>
		<h6>Price: <%= complex_building.price %></h6>
	</div>
<%end%>